automatyzacja.json
{
  "name": "automatyzacja",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "d376c707-c65a-4ae6-a71e-74c1313d3b40",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7MsiN1TVE1T87OhJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "subject": "Przypomnienie: nasza oferta dotycząca {{$json[\"subject\"]}}",
        "message": "Dzień dobry, czy miał Pan okazję zapoznać się z naszą ofertą?",
        "additionalFields": {}
      },
      "id": "e1cf26d8-69ca-4635-bd7a-98d675400252",
      "name": "Follow-up (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2256,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7MsiN1TVE1T87OhJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "options": {},
        "requestOptions": {}
      },
      "id": "e41fef0b-6edf-4e62-ab27-c5cb443898bb",
      "name": "Analiz ChatGPT",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "1VfRX9r1QQbe65cH",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const ai = items[0].json;\nlet content = ai.offer_text || 'Brak oferty.';\nconst title = ai.pdf_title || 'Oferta';\nconst html = `<!doctype html><html><head><meta charset='utf-8'><title>${title}</title>` +\n\"<style>body{font-family:Arial;padding:24px;}h1{font-size:22px;}p{font-size:14px;}</style>\" +\n\"</head><body><h1>${title}</h1><div>${content.replace(/\\\\n/g,'<br/>')}</div>\" +\n\"<hr/><p>Automatycznie wygenerowana oferta.</p></body></html>`;\nreturn [{ json: { html } }];"
      },
      "id": "5400e3bd-5acf-4c44-9969-8d495b48a8c7",
      "name": "HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json.html || '';\nconst buffer = Buffer.from(data, 'utf8');\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'offer.html'\n    }\n  }\n}];"
      },
      "id": "9c561601-95f2-42e9-8314-a558b4c51f98",
      "name": "Conwertacja HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "e383e0e2-3f18-43e1-92cd-b570d4c4dcc9",
      "name": "oczekiwanie",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1504,
        0
      ],
      "webhookId": "2a321d90-635e-4af2-bdde-3c8ecba7a6fb"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "additionalFields": {}
      },
      "id": "6d5e712a-52e4-48c3-ae6e-b38ac1e80cdd",
      "name": "sprawdzanie odpowiedzi",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7MsiN1TVE1T87OhJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"messages\"] ? $json[\"messages\"].length : 0}}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "7fc3697a-c7f0-4de8-be6b-a19918483e5a",
      "name": "sprawdzanie odpowiedzi1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "subject": "Re: {{$json[\"subject\"]}} — Oferta (załącznik)",
        "message": "Dzień dobry, w załączeniu przesyłam ofertę dopasowaną do Pana zapytania.",
        "additionalFields": {}
      },
      "id": "9a8f468c-fa01-40fa-9bc0-9a54b28727c1",
      "name": "wysylanie pdf",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "7MsiN1TVE1T87OhJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Analiz ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiz ChatGPT": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Conwertacja HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "oczekiwanie": {
      "main": [
        [
          {
            "node": "sprawdzanie odpowiedzi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdzanie odpowiedzi": {
      "main": [
        [
          {
            "node": "sprawdzanie odpowiedzi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdzanie odpowiedzi1": {
      "main": [
        [
          {
            "node": "Follow-up (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wysylanie pdf": {
      "main": [
        [
          {
            "node": "oczekiwanie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e800d91-da3a-44bf-881d-64eebdf2708a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bcf516e87483f0a3d76cee26a6cc8572aed059f9e26a299a0ba169efa98c5bf"
  },
  "id": "B9oxq0ojJFG3huSb",
  "tags": []
}